@import "../../../../styles/main";

.nav {
    display: flex;
    justify-content: flex-end;
    .nav-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;

        .active {
            text-decoration: underline;
        }
    }
}