@import "../../../../styles/main";

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $bg-mint;
    padding: 10px;
    font-size: 1.5rem;
    @include media-breakpoint(screen-md) {
        justify-content: end;
        background-color: $primary-dark-blue;
    }
    .nav-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        font-family: "BurbankBigCondensed", sans-serif;
        color: $primary-dark-blue;
        text-transform: uppercase;
        @include media-breakpoint(screen-md) {
            color: $white;
        }

        .active {
            text-decoration: underline;
        }
    }
}