// Primary colors

$primary-dark-blue: #003a70;
$primary-light-blue: #8dc6e8;

// Text colors - Accent colors with high contrast

$text-mint: #007bc2;
$text-chewing-gum: #008088;
$text-pistachio: #008c5a;
$text-strawberry: #dd0935;
$text-raspberry: #d7007f;
$text-violet: #75529d;
$text-lemon: #be851c;
$text-orange: #d56e15;
$text-chocolate: #825e50;

// Background colors - Accent colors with high contrast

$bg-mint: #d4e5f7;
$bg-chewing-gum: #bfe2e0;
$bg-pistachio: #cce5d8;
$bg-strawberry: #f9c5b8;
$bg-raspberry: #f8c9df;
$bg-violet: #e1d6eb;
$bg-lemon: #fef8c7;
$bg-orange: #ffe9c0;
$bg-chocolate: #edd6d5;

// Monochromatic colors

$white: #ffffff;
