@import "./main";

@font-face {
    font-family: "BariolBold";
    src: url("../fonts/bariol_bold-webfont.woff2");
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "BurbankBigCondensed";
    src: url("../fonts/burbankbigcondensed-bold-2.woff2");
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

:root {
    background-color: $bg-mint;
    color: $text-mint;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "BariolBold", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    font-size: 1rem;
}

.button-primary {
    padding: 6px;
    text-transform: uppercase;
    background-color: $primary-dark-blue;
    color: $white;
    border: 1px solid $primary-dark-blue;
    font-weight: bold;
    font-family: "BurbankBigCondensed", sans-serif;
    transition: 0.5s;
    outline: 0;
}

.button-primary:hover, .button-primary:focus, .button-primary:active {
    background-color: $white;
    color: $primary-dark-blue;
    transition: color 0.3s background-color 0.3s;
    outline: 0;
    border: 1px solid $primary-dark-blue;
}

input[type=search]::-ms-clear, input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.grid-1col-2col {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    @include media-breakpoint(screen-md) {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
}

