@import "./main";

:root {
    background-color: $bg-mint;
    color: $text-mint;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

