@import "../../../styles/main";

.list-item {
    height: 100%;
    width: 100%;
    background-color: $white;
    font-weight: bold;
    outline: 1px solid $primary-dark-blue;
    z-index: 100;

    .product-card {
        height: 100%;
        width: 100%;

        &__image-container {
            height: 360px;
            padding: 40px 0px;
            position: relative;
            background-color: $bg-mint;
        }

        &__details {
            padding: 10px 8px;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &__button-container {
            display: flex;
            padding: 10px 8px;
        }
    }
}

