@import "../../../../styles/main";

.footer {
    display: flex;
    flex-direction: column;
    background-color: $primary-dark-blue;

    &__column-top, &__column-bottom {
        height: 100px;
    }
}